appdirs==1.4.3
atari-py==0.1.1
certifi==2017.4.17
chardet==3.0.3
funcsigs==1.0.2
gym==0.9.1
idna==2.5
mock==2.0.0
numpy==1.12.1
olefile==0.44
opencv-python==3.2.0.7
packaging==16.8
pbr==3.0.1
Pillow==4.1.1
protobuf==3.3.0
pyglet==1.2.4
PyOpenGL==3.1.0
pyparsing==2.2.0
requests==2.16.0
six==1.10.0
tensorflow==1.1.0
urllib3==1.21.1
Werkzeug==0.12.2
